$bgPrimary: #2B2726;
$labelEighthLight: #FFFFFF;
$bgSecondary: #363130;
$brandPrimary: #FF8753;
$labelPrimaryLight: #1D1D1D;
$codGray: #201D1D;
$sauvignon: #FFF5F1;
$tutu: #FFF9FE;
$labelFifthLight: #F9F9F9;
$burningOrange: #FF7235;
$orange: #FE611D;