@import "./normalize";
@import "./colors.scss";
@import "./breakpoints.scss";

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: $bgPrimary;
  border-bottom: 1px solid $bgSecondary;
  box-sizing: border-box;

  &__logo {
    display: flex;
    align-items: center;
    margin-left: 16.25rem;
    cursor: pointer;

    @include largeDesktopScreen() {
      margin-left: 9rem;
    }

    @include desktopScreen() {
      margin-left: 3.25rem;
    }

    @include tabletDesktopScreen() {
      margin-left: 2.5rem;
    }

    @include mobileTabletScreen() {
      margin-left: 1.5rem;
    }
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
      padding: 0;

      &-item {
        position: relative;
        display: flex;
        align-items: center;
        color: $labelEighthLight;
        text-align: center;
        font-weight: 500;
        line-height: 140%;
        margin-left: 1.25rem;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          color: $brandPrimary;

          svg {
            transform: rotate(180deg);

            path {
              stroke: $brandPrimary;
            }
          }

          .header__nav-inner-list {
            display: block;
          }
        }

        svg {
          margin-left: 0.25rem;
        }
      }

      &-link {
        text-decoration: none;
        color: $labelEighthLight;
        font-weight: 500;
        line-height: 140%;
        cursor: pointer;

        &:hover {
          color: $brandPrimary;
        }
      }
    }

    &-inner-list {
      position: absolute;
      top: 2.685rem;
      list-style: none;
      border-radius: 0.75rem;
      background: $labelEighthLight;
      box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.06), 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
      padding: 0.75rem 0;
      display: none;

      &::before {
        content: "";
        top: -1.31rem;
        position: absolute;
        display: block;
        width: 100%;
        height: 1.31rem;
      }

      &-item {
        display: flex;
        padding: 0.5rem 0.75rem;
        align-items: center;
        min-width: 14.75rem;

        img {
          padding: 0.25rem;
          border-radius: 6.25rem;
          background-color: $labelEighthLight;
        }

        &:hover {
          background-color: $sauvignon;
        }
      }

      &-link {
        text-decoration: none;
        color: $labelPrimaryLight;
        font-weight: 500;
        line-height: 140%;
        text-wrap: nowrap;
        margin-left: 0.75rem;
      }
    }

    @include tabletDesktopScreen() {
      display: none;
    }
  }

  &__button-log-in {
    display: flex;
    width: 5.625rem;
    height: 2.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px solid $brandPrimary;
    background-color: $bgPrimary;
    color: $labelEighthLight;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.025rem;
    cursor: pointer;
    margin-right: 16.25rem;
    padding-top: 3px;

    &:hover {
      background-color: rgba(255, 135, 83, 0.10);
    }

    @include largeDesktopScreen() {
      margin-right: 9rem;
    }

    @include desktopScreen() {
      margin-right: 3.25rem;
    }

    @include tabletDesktopScreen() {
      margin-right: 1.25rem;
    }
  }

  &__hamburger-menu-checkbox {
    display: none;
  }

  &__hamburger-menu-checkbox:checked~&__mobile-menu-wrapper {
    @include tabletDesktopScreen() {
      display: flex;
    }
  }

  &__hamburger-menu-checkbox:checked~&__hamburger-menu-label {
    .header__hamburger-menu-icon {
      display: none;
    }

    .header__hamburger-menu-icon_close {
      display: block;
    }
  }

  &__hamburger-menu-label {
    display: none;
    align-items: center;
    cursor: pointer;

    @include tabletDesktopScreen() {
      display: flex;
      margin-right: 2.5rem;
    }

    @include mobileTabletScreen() {
      margin-right: 1.5rem;
    }
  }

  &__hamburger-menu-icon_close {
    display: none;
  }

  &__right-wrapper {
    display: flex;
  }

  &__mobile-menu-wrapper {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bgPrimary;
  }

  &__mobile-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &-link {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3.75rem;
      padding: 0 2.5rem;
      color: $labelEighthLight;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 140%;
      cursor: pointer;
      border-bottom: 1px solid $bgSecondary;
      text-decoration: none;

      @include mobileTabletScreen() {
        padding: 0 1.5rem;
      }
    }
  }

  &__mobile-nav-list-item-checkbox {
    display: none;
  }

  &__mobile-nav-list-item-checkbox:checked~&__mobile-nav-list-item-label {
    .header__mobile-nav-list-item-icon {
      transform: rotate(180deg);
    }
  }

  &__mobile-nav-list-item-checkbox:checked~&__inner-mobile-nav-list {
    height: auto;
  }

  &__mobile-nav-list-item-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.75rem;
    padding: 0 2.5rem;
    color: $labelEighthLight;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 140%;
    cursor: pointer;
    border-bottom: 1px solid $bgSecondary;

    @include mobileTabletScreen() {
      padding: 0 1.5rem;
    }
  }

  &__inner-mobile-nav-list {
    width: 100%;
    height: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;

    &-link {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3.75rem;
      padding-left: 3.75rem;
      background-color: $codGray;
      border-bottom: 1px solid $bgSecondary;
      color: $labelEighthLight;
      font-weight: 500;
      line-height: 140%;
      text-decoration: none;

      @include mobileTabletScreen() {
        padding-left: 2.5rem;
      }
    }
  }

  &__mobile-menu-ads-block {
    display: flex;
    padding: 1.25rem 2.5rem;
    margin: 2.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background: $brandPrimary;
    color: $tutu;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 140%;

    @include mobileTabletScreen() {
      flex-direction: column;
      align-items: start;
      margin: 1.5rem;
    }

    a {
      color: $labelEighthLight;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 0.025rem;
      text-decoration-line: underline;

      @include mobileTabletScreen() {
        margin-top: 0.75rem;
      }
    }
  }
}